.gpuVegetation {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, transparent, #363636 1440px),
				radial-gradient(ellipse 2400px 1600px at top, transparent 1600px, #ffffff),
				linear-gradient(270deg, #833ab4 calc(max(200px, 50%) - 50%), #fd1d1d 50%, #fcb045 calc(max(200px, 50%) + 50%));
}

.gpuVegetation h1, .gpuVegetation h2, .gpuVegetation h3, .gpuVegetation p {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logoContainer h1 {
    padding-bottom: 1rem;
    text-align: center;

    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
}

.logoContainer h3 {
    font-size: 1.25rem;
    font-weight: 400;

    text-align: center;
}

.guide {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    width: 80%;
    margin: auto;

    padding-bottom: 4vh;
}

.guide p {
    line-height: 1.25;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.guide .textures {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-around;
}

.guide .textures h1 {
    transform: translateY(-25%);
}

.guide .textures img {
    position: relative;
    width: 165px;
    height: 165px;
}

.textures p {
    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
    font-style: italic;
}
