.cozyRoads {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    background: linear-gradient(180deg, transparent, #adcc99 1440px),
				radial-gradient(ellipse 2400px 1600px at top, transparent 1600px, #ffffff),
				linear-gradient(270deg, #833ab4 calc(max(200px, 50%) - 50%), #fd1d1d 50%, #fcb045 calc(max(200px, 50%) + 50%));
}

.cozyRoads h1, .cozyRoads h2, .cozyRoads h3, .cozyRoads p {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logoContainer h1 {
    padding-bottom: 1rem;
    text-align: center;

    font-size: 7.5rem;
    font-weight: 700;
}

.logoContainer h3 {
    font-size: 1.25rem;
    font-weight: 400;

    text-align: center;
}

.descriptionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: top;

    gap: 5rem;
}

.descriptionGrid h2, .card h2 {
    font-size: 2rem;
    font-weight: 600;

    text-align: center;
}

.descriptionGrid p, .card p, .description {
    font-size: 1rem;
    font-weight: 300;

    text-align: center;
}

.splitCard {
    display: flex;
    flex-direction: row;

    height: 300px;

    border-radius: 15px;
    border-color: white;
    border-width: 1px;

    overflow: hidden;
}

.splitCard .card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;

    transition: all 0.3s ease;
}

.splitCard .card:hover {
    flex-grow: 2.5;
}

.splitCard .card div {
    padding: 4rem;
}

.splitCard .card img {
    position: relative;
    object-fit: cover;
    height: 100%;
    padding: 0;

    filter: brightness(0.9);
    transition: all 0.3s ease;
}

.splitCard .card:hover img {
    filter: brightness(0.4);
}

.splitCard .card h2 {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

    flex: 1;
    padding-top: 2.5rem;

    justify-content: center;
    align-items: center;
}

.splitCard .card:hover h2 {
    display: flex;
    flex-direction: column;
    flex: 0.3;

    transition: all 0.3s ease;
}

.splitCard .card p {
    flex: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.splitCard .card:hover p {
    opacity: 1;
}

.playButton {
    display: inline-flex;
    align-items: center;
    background-color: rgb(134, 224, 134);
    padding: 1rem 1rem;

    margin: auto;
    margin-top: 5vh;
    margin-bottom: 2.5vh;

    border-radius: 15px;
    border-color: white;
    border-width: 1px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    color: white;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease;
}

.playButton img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.playButton:hover {
    background-color: rgb(111, 199, 111);
}
