.img-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    aspect-ratio: 16 / 9;

    padding: inherit;
    margin: inherit;
}

.round-buttons {
    display: flex;
    flex-direction: row;
    float: right;
    
    gap: 0.5rem;
    margin: 0.5rem;
}

.round-buttons a {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;

    transition: all 0.1s ease;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.15);
}

.round-buttons a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.round-buttons img {
    object-fit: contain;
    width: 50%;
    height: 50%;

    margin: auto;
    padding: unset;

    border-radius: 0;
    box-shadow: none;
}

.tags {
    display: flex;
    flex-wrap: row;

    gap: 0.5rem;
    padding: 0.5rem;
}

.tags span {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #757575;
    padding: 0.25rem 0.5rem;
    border-radius: 100px;

    transition: all 0.1s ease;
}

.tags span:hover {
    background-color: #858585;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.half-width {
    width: min(100%, 62rem);
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 1rem;
    padding-right: 1rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(8px);
}

.section-header {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;

    width: 100%;
    text-align: center;

    text-decoration: underline;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

time {
    font-size: 0.875rem;
    font-weight: 400;
    color: #757575;
}
