#navbar {
    z-index: 50;
    position: fixed;

    width: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

    color: white;
    font-size: 1rem;
    font-weight: 500;

    transition: transform 0.3s ease-in-out;
}

#navbar #logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#navbar #navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2.75rem;
    transition: all 0.1s ease;
}

#navbar #contacts {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    gap: 1.125rem;
    transition: all 0.1s ease;
}

#navbar #contacts li {
    position: relative;
}

#navbar #contacts img {
    width: 1.25rem;
    height: 1.25rem;

    object-fit: contain;
    transition: all 0.2s ease;
}

#navbar #contacts img:hover {
    transform: translateY(0.2rem);
}

#MailLogo:hover {
    transform: translateY(0.1rem);
}

#navbar #pc-menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

#navbar #mobile-menu {
    display: none;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#navbar #divider {
    height: 1px;
    opacity: 0.2;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(240, 240, 240, 1), rgba(0, 0, 0, 0));
}
