body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Include gradient class from Hero.css */
	background: linear-gradient(180deg, transparent, #ffffff 1440px),
				radial-gradient(ellipse 2400px 1600px at top, transparent 1600px, #ffffff),
				linear-gradient(270deg, #833ab4 calc(max(200px, 50%) - 50%), #fd1d1d 50%, #fcb045 calc(max(200px, 50%) + 50%));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
